/*--------------------------------------------------------------------
*
* BUTTONS
*
--------------------------------------------------------------------*/

.btn
  border-radius: $ui-radius
  padding: $ui-spacing-third $ui-spacing-half
  border: none
  color: white
  background-color: $green
  cursor: pointer
  user-select: none
  transition: all .5s ease-in
  
  &:focus
    outline: none
    
  &:hover
    background-color: $green-dark
    
.btn-spaced
  margin: $ui-spacing-half
  
// Button dimmed
.btn-dimmed
  background-color: $gray-lighter
  color: $gray-light
  
  &:hover
    background-color: darken($gray-lighter, 15%)

// Button sizes

.btn-large
  padding: $ui-spacing-half $ui-spacing

.btn-small
  padding: $ui-spacing-fourth $ui-spacing-third
  

@media screen and (max-width: 30em)

  .btn
    width: 100%
    
@media screen and (min-width: 49em)

  .btn-group

    .btn:not(:last-child)
      margin-right: $ui-spacing-fourth