/*--------------------------------------------------------------------
*
* FOOTER
*
--------------------------------------------------------------------*/

@media screen and (max-width: 30em)
  
  footer
    padding-top: $ui-spacing
    box-shadow: 0 -5px 10px $gray-lighter
    background-color: white