/*--------------------------------------------------------------------
*
* LAYOUT
*
--------------------------------------------------------------------*/

// Sticky footer
.shell
  display: flex
  min-height: 100vh
  flex-direction: column
  
.page,
.page-wrapper,
.page-wrapper-expanded,
.page-wrapper-full
  flex: 1
  
.page
  position: absolute
  top: 69px
  bottom: 123px
  width: 100%
  overflow-y: scroll
  
.page-heading
  margin-bottom: $ui-spacing
  margin-left: $ui-spacing-double

// Sidebar reappearance and page shifting  
.page, .page-wrapper, .page-wrapper-expanded
  h2:first-of-type
    margin-top: $ui-spacing-half
    
// Center children vertically
.vertical-center
  display: flex
  align-items: center
  justify-content: center

// Floats
.fl-left
  float: left

.fl-right
  float: right