/*--------------------------------------------------------------------
*
* SIDEBAR
*
--------------------------------------------------------------------*/

.sidebar,
aside
  transition: transform .3s ease
  
.sidebar-docked
  transform: translateX(-200px)

aside
  position: fixed
  left: 0
  top: 69px
  height: calc(100% - 69px)
  width: 200px
  background-color: $green-darker
  transform: translateX(0)
  z-index: 5
  
  .icon-menu-container
    display: block
    position: absolute
    right: -60px
    top: 0
    height: 60px
    width: 60px
    background-color: $gray-lighter
    text-align: center
    
  .icon-menu
    position: relative
    top: 20px
    cursor: pointer

aside nav li:not(:last-child)
  border-bottom: 1px solid lighten($green-darker, 10%)

.nav-header,
.nav-item a
  padding: $ui-spacing-half $ui-spacing

.nav-item a,
.nav-item
  color: white

.nav-header
  font-weight: $font-weight-bold
