/*--------------------------------------------------------------------
*
* TABLES
*
--------------------------------------------------------------------*/
  
.user-list-heading,
.user-list-row
  padding: $ui-spacing-third
  border-bottom: $ui-border
  
.user-list
  .row
    margin: 0
  
.user-list-row:last-of-type
  border: none
  
.user-list-heading
  background-color: lighten($gray-lighter, 70%)
  
.user-list-cell
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  
@media screen and (max-width: 48em)

  .user-list-heading
    display: none

  .user-list-row:nth-child(even)
    background-color: lighten($gray-lighter, 70%)