/*--------------------------------------------------------------------
*
* AVATARS
*
--------------------------------------------------------------------*/

.avatar
  width: 150px
  height: 150px
  margin: 0 auto
  border: $ui-border
  border-radius: $ui-radius