/*--------------------------------------------------------------------
*
* LAYOUT
*
--------------------------------------------------------------------*/
  
.page
  margin-top: 69px

// Sidebar reappearance and page shifting  
.page, .page-wrapper, .page-wrapper-expanded
  h2:first-of-type
    margin-top: $ui-spacing-half
    
// Center children vertically
.vertical-center
  display: flex
  align-items: center
  justify-content: center

// Floats
.fl-left
  float: left

.fl-right
  float: right