/*--------------------------------------------------------------------
*
* LOGOS
*
--------------------------------------------------------------------*/

.logo
  display: inline-block
  background-repeat: no-repeat
  background-size: contain
  cursor: pointer
  transition: opacity .5s ease-in

  &:hover
    opacity: .6

.logo-concorda
  height: 30px
  padding-left: $ui-spacing + $ui-spacing-third
  background-image: url("../img/logo-concorda.svg")
  line-height: @height
  
.nav-main-wrapper + .col-xs-12 .logo-concorda
  margin-left: $ui-spacing-double