/*--------------------------------------------------------------------
*
* NAVIGATION
*
--------------------------------------------------------------------*/

.nav-menu-handle
  visibility: hidden
  position: absolute
  left: -100%

.nav-main-wrapper label
  position: absolute
  top: 0
  left: 0
  display: block
  height: 69px
  width: 69px
  background-image: url("../img/icon-menu-white.svg")
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: 23px 23px
  background-color: $green-darker
  cursor: pointer

  &:hover
    opacity: .5
    
.nav-main
  display: none
  background-color: $green-dark
  z-index: 20
  
.nav-item
  a
    display: block
  
    &:hover
      color: $green
      background-color: $green-darker
  
.nav-menu-handle:checked ~ .nav-main
  display: block
  position: fixed
  top: 69px
  left: 0
  width: 160px
  
  li
    display: block
    width: 100%
    border-top: 1px solid lighten($green-darker, 20%)
    
    &:last-child
      border-bottom: 1px solid lighten($green-darker, 20%)

.nav-header,
.nav-item a
  padding: $ui-spacing-half $ui-spacing

.nav-item a,
.nav-item
  color: white

.nav-header
  font-weight: $font-weight-bold
