/*--------------------------------------------------------------------
*
* PAGE - USERS
*
--------------------------------------------------------------------*/

.page-users

  .panel-body
    padding: 0

  .user-data-col
    min-width: 200px
    text-align:left
    padding:5px 0px
    border-bottom:1px dashed black
