/*--------------------------------------------------------------------
*
* PAGE - LOGIN
*
--------------------------------------------------------------------*/

.page-login

  &.page h2
    margin-top: 0

  .container-fluid
    height: 75vh
    
  .row
    height: 100%
    
  .alert
    padding-left: 0
    
  .alert.alert-error
    padding-left: $ui-spacing-half
    
    .icon
      display: none