/*--------------------------------------------------------------------
*
* PAGE - USERS
*
--------------------------------------------------------------------*/

.page-users

  .panel-body
    padding: 0
    
  .btn-search
    margin-left: $ui-spacing-half