/*--------------------------------------------------------------------
*
* PAGE - LOGIN
*
--------------------------------------------------------------------*/

.page-login

  &.page h2
    margin-top: 0

  .container-fluid
    height: 75vh
    
  .row
    height: 100%
    
  .alert
    padding-left: 0
    
  .alert.alert-error
    padding-left: $ui-spacing-half
    
    .icon
      display: none

@media screen and (max-width: 48em)

  .page-login

    .btn-secondary
      margin-bottom: $ui-spacing-third
