/*--------------------------------------------------------------------
*
* PAGE - PROFILE
*
--------------------------------------------------------------------*/

.page-profile

  .profile-pic
    width: 150px
    height: 150px
    border: 1px solid #ddd
    border-radius: 3px