/*--------------------------------------------------------------------
*
* PAGE - USERS
*
--------------------------------------------------------------------*/

.react-bs-container .table-container > table
  margin-top: -22px !important