/*--------------------------------------------------------------------
*
* PAGE - LOGIN
*
--------------------------------------------------------------------*/

.page-login
  margin-top: $ui-spacing-double + $ui-spacing

  &.page h2
    margin-top: 0
    
  .alert
    padding-left: 0
    
  .alert.alert-error
    padding-left: $ui-spacing-half
    
    .icon
      display: none

@media screen and (max-width: 48em)

  .page-login

    .btn-secondary
      margin-bottom: $ui-spacing-third