Hello,
<br><br>
You have been invited by <%= invitedBy %> to join Concorda
<br>
Use the following link to register:<br>
<a href="<%= url %>">Register</a><br>
<br>
Your friend has a message for you:
<br>
<%= message || 'No Message' >
<br>
All the best,<br>
<%= invitedBy %>