/*--------------------------------------------------------------------
*
* PAGE - USERS
*
--------------------------------------------------------------------*/

.page-users

  .btn-send-invite
    margin-left: $ui-spacing-third

  .panel-body
    padding: 0
    
.search-wrapper
  margin: $ui-spacing 0
  
  *[class^="col"]
    padding: 0
    
@media screen and (min-width: 49em)

  .btn-search
    margin-left: $ui-spacing-third
    
@media screen and (max-width: 48em)

  .btn-search
    margin-top: $ui-spacing-third
    width: 100%