Hello,
<br><br>
Somebody request a reset password for this account:
<br>
<%= email %>
<br>
If you did not request that, just ignore this email.<br>
If you want to reset your password please click on the link bellow:<br>
<a href="<%= url %>">Reset Password</a><br>
<br>
<br>
All the best,<br>
Concorda team